<li class="choice">
	<label for="servicio_insumo_ids_<%= current_i.id %>">
		<input type="checkbox" name="servicio[insumo_ids][]" id="servicio_insumo_ids_<%= current_i.id %>" value="<%= current_i.id %>"><%= current_i.to_s %>
	</label>
</li>